.video-section-page {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.live-section-wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas:
    'title'
    "video"
    "chat"
    "product";
  gap: 16px;
  width: 100%;
}

.live-section-video-title {
  display: none;
  grid-area: title;
}

.live-section-video {
  width: 100%;
  grid-area: video;
}

.live-section-chat {
  width: 100%;
  grid-area: chat;
}

.live-section-product {
  display: none;
  width: 100%;
  grid-area: product;
}

@media (min-width: 800px) {
  .live-section-video {
    height: 496px;
  }

  .live-section-wrapper {
    grid-template-areas:
      'title'
      "video"
      "product"
      "chat";
  }

  .live-section-product {
    padding-left: 32px;
    display: block
  }

  .live-section-chat {
    padding: 0 32px;
  }

  .live-section-video-title {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    margin: 16px 0 0 32px;
  }
}

@media (min-width: 1280px) {
  .live-section-wrapper {
    grid-template-columns: 784px 400px;
    grid-template-areas:
      "title   title"
      "video   chat"
      "product product";
    gap: 16px;

    justify-content: center;
  }

  .live-section-video-title {
    display: block;
    grid-area: title;
    margin-left: 0;
  }

  .live-section-video {
    width: 784px;
    height: 496px;
  }

  .live-section-chat {
    width: 400px;
    height: 496px;
    padding: 0;
  }

  .chat-sidebar {
    height: 100%;
    width: 100%;
  }

  .live-section-product {
    margin-top: 0;
    padding-left: 0;

  }
}

@media (min-width: 1440px) {
  .live-section-wrapper {
    grid-template-columns: 888px 400px;
    grid-template-areas:
      "title   title"
      "video   chat"
      "product product";
    gap: 16px;

    justify-content: center;
  }
}