.streamer-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid white;
  flex-shrink: 0;
  object-fit: cover;
}

.streamer-rating {
  position: absolute;
  left: 40px;
  bottom: 0px
}

.streamer-name {
  position: relative;
  display: none;
}

.button {
  display: none;
}

.streamer-rating-counter {
  display: none;
}

@media (min-width: 800px) {
  .streamer-info {
    background: #00000080;
    padding: 13px 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    color: white;
    width: 100%;
    height: 56px;
  }

  .streamer-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100%;
    line-height: 1.2;
  }

  .streamer-name {
    display: block;
    font-weight: 600;
    font-size: 14px;
  }

  .streamer-rating {
    position: static;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    color: white;
  }

  .streamer-rating-counter {
    display: block;
  }

  .streamer-rating i {
    display: flex;
    align-items: center;
    color: #ffd700;
  }

  .button {
    display: block;
    margin-left: auto;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    line-height: 100%;
  }

  .button span {
    font-size: 18px;
  }
}