.entity-banner {
  background-image: url('../../../../../shared/assets/landing/entityBG.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 822px;
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
}

.entity-banner-content {
  width: 548px;
}

.entity-banner-counter {
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 232px;
  line-height: 100%;
  color: #E55C28;
}

.entity-banner-title {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: #010201;
  text-transform: uppercase;
}

.entity-banner-title span {
  font-weight: 900;
}

.entity-banner-subtitle {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #E55C28;
  max-width: 433px;
}