.video-screen {
  position: relative;
  width: 1020px;
  height: 640px;
  background-color: #000;
  border-radius: 16px;
  overflow: hidden;
}

.stream-info-overlay {
  position: absolute;
  inset: 20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  pointer-events: auto;
}

.live-direction {
  color: white;
  margin: 0;
  font-size: 16px;
  pointer-events: auto;
  align-self: flex-start;
}

.live-badge {
  background: #ff0033;
  color: white;
  padding: 6px 16px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 16px;
}

.main-video-element {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.live-badge.video-badge {
  background-color: rgb(69, 69, 69);
}