.grid-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
  background: #fff;
  padding: 28px 46px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s ease;
}

.grid-item:nth-child(5n) {
  border-right: none;
}

.grid-item:nth-child(n+6) {
  border-bottom: none;
}

.value {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 56px;
  color: #010201;
  transition: color 0.3s ease;
}

.country {
  font-family: Inter, sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #010201;
  transition: color 0.3s ease;
}

.grid-item>img {
  display: block;
  width: 30px;
  height: auto;
  transition: visibility 0.3s ease, opacity 0.3s ease;
}

.grid-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: var(--bg-flag);
  background-size: cover;
  background-position: center;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease;
}

.grid-item:hover::before,
.grid-item.default-active::before {
  opacity: 1;
  filter: brightness(0.7);
}

.grid-item:hover .value,
.grid-item:hover .country,
.grid-item.default-active .value,
.grid-item.default-active .country {
  color: #fff;
}

.grid-item:hover>img,
.grid-item.default-active>img {
  visibility: hidden;
  opacity: 0;
}

:has(.grid-item:hover) .grid-item.default-active:not(:hover)::before {
  opacity: 0;
}

:has(.grid-item:hover) .grid-item.default-active:not(:hover) .value,
:has(.grid-item:hover) .grid-item.default-active:not(:hover) .country {
  color: #010201;
}

:has(.grid-item:hover) .grid-item.default-active:not(:hover)>img {
  visibility: visible;
  opacity: 1;
}