.short-card {
  position: relative;
  width: 206.66px;
  /* Один фиксированный маленький размер */
  cursor: pointer;
}

.short-video-wrapper {
  width: 100%;
  height: 285px;
  /* Высота под маленькую карточку */
  overflow: hidden;
  border-radius: 16px;
  margin-bottom: 0;
  /* По умолчанию отступа нет, если showInfo={false} */
}

.short-video-content {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Если ПОСЛЕ видео идет инфо-блок (showInfo={true}), добавляем аккуратный отступ сверху */
.short-video-wrapper+.short-info {
  margin-top: 10px;
}

.short-title {
  font-weight: 700;
  font-size: 15px;
  line-height: 19.5px;
  color: #212121;
  margin: 0 0 4px 0;
}

.short-meta {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
}

.short-category {
  color: #E55C28;
}

.short-tag {
  color: #454545;
  margin-left: 4px;
}