.beta-section4-wrapper {
  position: relative;
  background: #000 url('../../../../../shared/assets/landing/beta-bg4.png') no-repeat;
  background-size: contain;
  background-position: 100% 110%;
  min-height: 810px;
  display: flex;
  align-items: center;
  color: #fff;
  font-family: sans-serif;
}

.beta-section4-wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
}

.beta-section4-wrapper {
  background-size: auto 110%;
  background-position: right -50px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.content-block {
  max-width: 460px;
}

.title {
  font-family: Inter, sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.beta-section4-description {
  font-family: Inter, sans-serif;
  font-size: 25px;
  line-height: 1.5;
  margin-bottom: 40px;
  color: #FFFFFFA6;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  z-index: 1;
}

.btn-section4 {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 16px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  width: 210px;
  transition: opacity 0.3s;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-size: 19px;
  font-weight: 600;
}

.section4-btn-red:hover,
.section4-btn-orange:hover,
.section4-btn-blue:hover {
  opacity: 0.8;
}

.section4-btn-blue {
  background-color: #048CE7;
  color: white;
}

.section4-btn-red {
  background-color: rgb(255, 0, 51);
  color: white;
}

.section4-btn-orange {
  background-color: #E55C28;
  color: white;
}

@media (max-width: 768px) {
  .beta-section4-wrapper {
    background-position: 20% center;
    min-height: 600px;
  }

  .title {
    font-size: 32px;
  }
}