.btn {
  border-radius: 22px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  font-family: inherit;
  white-space: nowrap;
  text-decoration: none;
  outline: none;
}

.btn:active {
  transform: scale(0.97);
}

.btn-filled {
  background-color: #e85d26;
  color: #ffffff;
}

.btn-filled:hover {
  background-color: #cf4f1f;
  border-color: #cf4f1f;
}

.btn-outline {
  background-color: transparent;
  color: #e85d26;
  border: 1px solid #e85d26;
}

.btn-outline:hover {
  background-color: #fff5f2;

}

.btn-gray {
  background-color: #D9D9D9;
  color: #212121;
  border: 1.5px solid #D9D9D9;
}

.btn-gray:hover {
  background-color: #c0c0c0;
  border-color: #c0c0c0;
}

.btn-outline-gray {
  background-color: transparent;
  color: #D9D9D9;
  border: 1.5px solid #D9D9D9;
}

.btn:disabled,
.btn-disabled {
  background-color: #cccccc !important;
  color: #666666 !important;
  cursor: not-allowed;
  border-color: #bbbbbb !important;
  opacity: 0.7;
  pointer-events: none;
}

.btn-outline:disabled {
  background: transparent;
  border: 1px solid #ccc;
}

@media (min-width: 800px) {
  .btn {
    padding: 12px 8px;
    font-size: 12px;
  }
}


@media (min-width: 1280px) {
  .btn {
    padding: 12px 16px;
    font-size: 16px;
  }
}